@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Bienvenido</h1>
    <p>Sitio web creado por Daniela Castillo. <br />Trabajo Autónomo N° 1 del módulo de Desarrollo de Sistemas con Herramientas Privadas. <br />Carrera de Técnico Nivel Superior en Informática y Aplicaciones Tecnológicas.</p>
    <img width="250px" src="https://i.pinimg.com/originals/03/1b/78/031b784e45a7d83f9a2bfdeb29889db9.gif"/>
</div>
